{% extends "index.html" %}

{% block content %}

<nav class="fixed-navbar">
  <!-- <div class = "logo" ><img src = "static/logo.png" alt ="logo"></div> -->
  <ul class = 'nav-list'>
      <div class = "nav-right">
          <div class="border-style">
          <li><a href="{% url 'home' %}"> HOME </a></li>
          <li><a href="{% url 'home' %}">ABOUT </a></li>
          <li><a href="{% url 'home' %}">OUR PRODUCTS </a></li>
          <li><a href="{% url 'blog' %}">KNOWLEDGE</a> </li>
          </div>
          <li class = "nav-border"><a href="{% url 'home' %}">CONTACT US</a></li>
      </div>
  </ul>
</nav>

<section class="contact">
<div class = "contact-container">
  <!-- <div class="fix contact-card">
    <div class = card-heading>
      <span>&#9742;</span>&nbsp&nbsp CALL US
    </div>
    <div class = card-content>
      +977-9848012280
    </div>
    <div class = card-heading>
      <span class="fas fa-map-marker-alt"></span>&nbsp&nbsp LOCATION
    </div>
    <div class = card-content>
      Pokhara 33700, Gandaki Province, Nepal
    </div>
    <div class = card-heading>
      <i class="fas fa-building"></i>&nbsp&nbsp BUSINESS HOUR
    </div>
    <div class = card-content>
      Sun - Fri : 10am to 5pm, Sat : Close
    </div>
  </div> -->
  <div class="fix contact-form">
    <div class="contact-heading">GET IN TOUCH</div>
  <form method="post">
    {% csrf_token %}
    <label for="sender"></label><br>
    <input type="email" id="sender" name="sender" placeholder="Enter your valid email address"><br>

    <label for="subject"></label><br>
    <input type="text" id="subject" name="subject" placeholder="Subject"><br>

    <label for="message"></label><br>
    <textarea id="message" name="message" ></textarea><br>

    <button type="submit">Submit</button>
  </form>
  </div>
</div>
</section>
{% endblock %}